<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="../../../../assets/img/nimbg.png" class="logo" />

    <div class="title">
        <h2>Bienvenu</h2>
        <p class="ion-margin">Yamo le jeu de NIM a font</p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">Se connecter</ion-button>
        <ion-button expand="block" class="ion-margin-top yello" (click)="register()" color="white">S'enregistrer</ion-button>
    </div>
</ion-content>
